<section class="bg-primary" id="cta">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Kubementat - Full Stack Kubernetes Automation</h2>
              <hr class="light">
              <p class="text-faded">Kubementat allows customers/developers/operators to get up and running; aka productive; with their Kubernetes clusters as easy and comfortable as possible, also on the second day of operations ;)</p>
              <a target="_blank" href="https://github.com/Kubementat/kubementat" class="btn btn-default btn-xl">Visit the project</a>
          </div>
      </div>
  </div>
</section>
