<section id="technology">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Technology</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Ruby</h3>
                    <p class="text-muted">Getting things done while having fun and writing great test automated code in a beautiful language</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calculator wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Trailblazer</h3>
                    <p class="text-muted">BPMN on steroids. Build encapsulated & easy to change operation based workflows</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-server wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Terraform, Vagrant, Chef</h3>
                    <p class="text-muted">Building infrastructures independent from the IaaS provider, computer or OS</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Databases & Backing Services</h3>
                    <p class="text-muted">PostgreSQL, MySQL, MongoDB, RabbitMQ, ElasticSearch, Redis, ... what we need to get the job done :D</p>
                </div>
            </div>
        </div>
    </div>
</section>
