<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include services.html %}
  {% include call-to-action.html %}
  {% include technology.html %}
  {% include kubementat.html %}
  {% include download_cv.html %}
  <!-- {% include divider.html %} -->
  <!-- TODO: implement portfolio -->
  <!-- {% include portfolio.html %} -->
  <!-- {% include aside.html %} -->
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
